.add-card{
    background-color: white;
    margin: auto; 
    width: 80%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
}
h2{
    color: white;
    margin: 5% 20px;
}
.image-col{
    width: 700px;
    display: flex; 
    padding-top: 20px;
    justify-content: center;
    flex-direction: column;
}
.pre-product{ 
    width: 500px;
}
.custom-file-input {
  color: transparent; 
  width: 150px;
  margin-top: 20px;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
  font-size: 20px;
}
.custom-file-input::before {
  content: 'Change';
  color: rgb(214, 50, 50);
  display: inline-block; 
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 18pt;
}
.custom-file-input:hover::before {
  border-color: rgb(158, 32, 32);
}
.custom-file-input:active {
  outline: 0;
}
.custom-file-input:active::before {
 }
 .input-row{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
 } 
 .btn-row{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: end;
 }
 .error-txt{
     color: rgb(214, 50, 50);
     font-size: 15px;
 }
 .input{
     padding: 10px 15px;
     margin-top: 10px;
     margin-bottom: 5px;
 }
 .btn-save{
     background-color: #fff;
     border: 0px;
     font-size: 20px;
     cursor: pointer;
     margin-right: 20px;
     color: rgb(32, 158, 74);
 }

 .btn-cancel{
     background-color: #fff;
     border: 0px;
     cursor: pointer;
     font-size: 18px;
     color: rgb(22, 22, 22);
 }
